/* Rendiamo quadrata l'immagine del profilo */
.author__avatar img {
  border-radius: 0 !important;
}

/* Assicuriamoci che mantenga le dimensioni corrette */
.author__avatar {
  width: auto !important;
  height: auto !important;
}

/* Se vuoi un bordo sottile come l'originale */
.author__avatar img {
  border: 1px solid #f2f3f3;
}
