---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/* === Custom override === */
/* Rimuove la patina sull'immagine del profilo */
.author__avatar img {
  opacity: 1 !important;
  filter: none !important;
}

.author__avatar a:hover img {
  opacity: 1 !important;
  filter: none !important;
}
